/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.text {
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Header Styles */
/* Nav Styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 87px 0 60px 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
}

nav h3 {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Banner Section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.banner-content {
  width: 582px;
  height: 270px;
}

.banner-content h1 {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 16px;
}

.banner-content p {
  margin-bottom: 24px;
}

.banner-content button {
  padding: 10px 24px;
  border: none;
  border-radius: 41px;
  background: #e02c6d;
  color: white;
}

.banner-content button i {
  margin-left: 8px;
}

.banner-img {
  width: 500px;
  background: url("images/Circle\ design.svg");
  background-position: center;
  background-repeat: no-repeat;
}

/* Main Section */
/* Brands Seciton */

.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 60px;
  padding: 40px 0;
  width: 65%;
  margin-bottom: 100px;
}
